# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dawid\Dropbox\Mój komputer (DESKTOP-49PBO0D)\Documents\Bezpiecze-stwo-sieci\bezpieczenstwo_sieci\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
